global
    log /dev/log local0
    maxconn 50000
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5s
    timeout client  1h
    timeout server  1h

frontend http_front
    bind *:80

    # LOG PERSONALIZADO (seu padrão)
    log-format "%ci|%t|%HU|%[hdr(User-Agent)]"

    default_backend icecast_back

backend icecast_back
    balance roundrobin

    # AGORA: tudo local
    server local 127.0.0.1:8000 check

    # FUTURO: só descomentar
    # server slave1 10.0.0.2:8000 check
    # server slave2 10.0.0.3:8000 check